NODE_ENV=development
PORT=3000
JWT_SECRET=Dm8NRmOs5Z1uNMeP4c9D5cIG5xUEm1YxYIAbyK1TQ9e
JWT_EXPIRES_IN=1d
DATABASE_URL=postgres://postgres:123456@localhost:5432/task_management
DB_LOGGING=false
BCRYPT_SALT_ROUNDS=10
IDEMPOTENCY_TTL_HOURS=24
